header,
nav,
section,
article,
aside,
footer,
time {
  display: block;
}
html * {
  margin: 0;
  padding: 0;
}
html,
body,
.wrap {
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #000;
  line-height: 1.5em;
  background-color: #fff;
  font-size: 14px;
}
h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  font-size: inherit;
  line-height: 1.3em;
  text-shadow: 1px 1px 1px #FFFFFF;
}
strong {
  font-weight: bold;
}
a {
  text-decoration: none;
  outline: none!important;
  color: #1d1d1d;
}
a:hover,
a:link,
a:visited {
  text-decoration: none!important;
}
a:focus {
  outline: none!important;
}
a:active,
a:hover {
  outline: none!important;
}
button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
}
img {
  vertical-align: bottom;
  border: 0;
  max-width: 100%;
  height: auto;
  width: auto\9;
}
::-moz-focus-inner {
  padding: 0;
  border: 0;
}
:focus {
  outline: 0;
}
.clear {
  clear: both;
  font-size: 1px;
  line-height: 1px;
  height: 0;
  overflow: hidden;
}
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*::after,
*::before {
  content: '';
}
/*--END-FOUNDATION--*/
.container {
  max-width: 1200px;
}
/* a */
h1 {
  color: #0f0;
}
